@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#speak-input {
    font-family: 'Poppins', sans-serif;
    width: 300px;
    height: 100px;
    border: 1px solid #5478e4;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

#speak-button {
    font-family: 'Poppins', sans-serif;
    background-color: #5478e4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#speak-button:hover {
    background-color: #7894eb;
}